<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pro Tech : Home</title>

    <!-- Theme color -->
    <link id="switcher" href="/public/css/theme-color/default-theme.css"
      rel="stylesheet">
    <!-- Main Style -->
    <link href="/public/css/theme-color/style.css" rel="stylesheet">
  </head>
  
  <body>
      <div class="mu-hero-overlay">
        <div class="container">
          <div class="mu-hero-area">
            <!-- Start hero featured area -->
            <div class="mu-hero-featured-area">
              <div class="mu-hero-featured-content">
                <h1>HELLO! WELCOME TO PRO TECH<br>
                </h1>
                <h2>The Biggest International IT Professional Conference</h2>
                <p class="mu-event-date-line">01 - 31 October, 2023.
                  London, UK</p>
                <div class="mu-event-counter-area">
                  <div id="mu-event-counter"> </div>
                </div>
              </div>
            </div>
            
            <!-- End hero featured area --> </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav mu-menu navbar-right">
            <div class="menu-container">
  
              <input type="checkbox" id="openmenu" class="hamburger-checkbox">
              
              <div class="hamburger-icon">
                <label for="openmenu" id="hamburger-label">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </label>    
              </div>
            
                <div class="menu-pane">
                  
                  <nav>
                    <ul class="menu-links">
                      <li><a href="#mu-hero">Home</a></li> 
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/schedule">Schedule</a></li>
                      <li><a href="/speakers">Special Guests</a></li>
                      <li><a href="/venue">Venue</a></li>
                      <li><a href="/faq">FAQ</a></li>
                      <li><a href="/contact">Contact</a></li> </strong>
        </div>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <div class="img"> <img class=""
      src="public/images/event.jpg">