<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Speakers</title>

    <!-- Theme color -->
    <link href="public/css/theme-color/default-theme.css"
      rel="stylesheet">
    <!-- Main Style -->
    <link href="/public/css/theme-color/style.css" rel="stylesheet">
  </head>

  <body>
<!-- Start Speakers -->
<section id="mu-speakers">
  <div class="mu-hero-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-speakers-area">
            <div class="mu-title-area">
              <h2 class="mu-title">Our Special Guests</h2>
              <p>Everyone says it, but in our case it’s true: our team is the secret to our success. 
                Each of our guests is amazing in their own right, but together they are what makes Pro Tech such a fun and rewarding organization to work. 
                Pro Tech team is a tight-knit, talented group with a shared vision of delivering consistently great results for our clients, 
                as well as ensuring the agency is a fun, inclusive, challenging place to work and develop a rewarding career.</p>
            </div>
            <!-- Start Speakers Content -->
            <div class="mu-speakers-content">
              <div class="mu-box-sizing">
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-1.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Valeri Vasilev<br>
                    </h3>
                    <p>Digital Artist</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-2.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Hristo Ayvazov</h3>
                    <p>Business Consultant</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-3.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Milen Iliev</h3>
                    <p>UI/UX Specialist</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-4.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Michaela Steven </h3>
                    <p>Digital Marketer</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-5.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Karl Froch</h3>
                    <p>Digital Artist</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-6.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Sarah Dransner</h3>
                    <p>Business Consultant</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-7.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3>Nikolai Kolev</h3>
                    <p>UI/UX Specialist</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker -->
                <!-- Start single speaker -->
                <div class="mu-single-speakers"> <img
                    src="public/images/speaker-8.jpg" alt="speaker
                    img">
                  <div class="mu-single-speakers-info">
                    <h3> Simona Angel </h3>
                    <p>Digital Marketer</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a><br>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a><br>
                      </li>
                    </ul>
                    <br>
                    <hr>
                  </div>
                </div>
                <!-- End single speaker --> </div>
            </div>
            <!-- End Speakers Content --> </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- End Speakers -->
</body>


    <!-- Menu -->
    <div class="collapse navbar-collapse"
    id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav mu-menu navbar-right">
      <div class="menu-container">
    
        <input type="checkbox" id="openmenu" class="hamburger-checkbox">
        
        <div class="hamburger-icon">
          <label for="openmenu" id="hamburger-label">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </label>    
        </div>
      
          <div class="menu-pane">
            
            <nav>
              <ul class="menu-links">
                <li><a href="/main">Home</a></li> 
                <li><a href="/about">About Us</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/speakers">Special Guests</a></li>
                <li><a href="/venue">Venue</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li> </strong>
    </div>
    </div>
    </div>
    